<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.dao.ICustomerDao">
	<insert id="saveOrder" parameterType="Order">
		<selectKey keyColumn="id" keyProperty="id" resultType="Long" order="BEFORE">
			select order_seq.nextVal from dual
		</selectKey>
		insert into tbl_order
		values(#{id},#{cost},#{orderDate},#{customer_id})
	</insert>
	<select id="findOrderById" parameterType="Long" resultType="Order">
		select * from tbl_order
		where id=#{id}
	</select>
	<select id="findOrderByCustomerId" parameterType="Long" resultType="Order">
		select * from tbl_order
		where customer_id=#{id}
	</select>
	<delete id="deleteOrderById" parameterType="Long">
		delete from tbl_order
		where id=#{id}
	</delete>
</mapper>			